<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sarthak Jain - Resume</title>
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/resume.css">
  <link rel = "icon" href ="..\assets\images\S.png" 
        type = "image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="cursor" id="cursor"></div>
  <nav class="nav-link">
    <ul class="nav-link-ul">
      <li><a href="index.html" class="nav-link-a">Home</a></li>
      <li><a href="projects.html" class="nav-link-a">Projects</a></li>
      <li><a href="contact.html" class="nav-link-a">Contact</a></li>
      <li><a href="resume.html" class="nav-link-a">Resume</a></li>
    </ul>
  </nav>
  
  <a href="#" id="back-to-top" title="Back to Top"><i class='fas fa-arrow-alt-circle-up'></i></a>
  <div class="contact-logos">
    <a href="https://www.linkedin.com/in/sarthakjain248/" class="logo-link"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/Sarthak248?tab=repositories" class="logo-link"><i class="fa fa-github"></i></a>
    <a href="mailto:sartha24champ@gmail.com" class="logo-link"><i class="fa fa-envelope"></i></a>
    <a href="https://www.instagram.com/sarthak_jain_248/" class="logo-link"><i class="fa fa-instagram"></i></a>
  </div>

  <div class="resume-container">
    <div class="resume-text">
      <div class="education">
        <h1>Education</h1>
      </div>
      <div class="experience">
        <h1>Experiences</h1>
      </div>
      <div class="skills">
        <h1>Skills</h1>
      </div>
      <div class="interests">
        <h1>Interests</h1>
      </div>

    </div>

    <div class="link-container">
      <a href="..\assets\resume\Sarthak Jain PDF.pdf" target="_blank" class="resume-link">Open Resume In PDF</a>
      &nbsp;&nbsp;&nbsp;
      <a href="..\assets\resume\Sarthak Jain CV.docx" target="_blank" class="cv-link">View Cover Letter - CV</a>
    </div>

  </div>
  <script type="text/javascript" src="../scripts/script.js"></script>
</body>
</html>